@import url("//fonts.googleapis.com/css?family=Rosario:700i");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* LAYOUT STYLES */
body {
  font: 16px/26px "Roboto", "Helvetica Neue", Helvetica, arial, sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
  line-height: 1.5; 
}

a {
  color: #d5000d;
}
a:hover {
  color: #c5000c;
}

header {
  padding-top: 35px;
  padding-bottom: 0px;
}

#logo {
  font-family: 'Rosario', sans-serif;
  font-weight: 700;
  font-style: italic;
  color: rgb(253, 60, 0);
  font-size: 3em;
  line-height: 1.2;
}

header h2 {
  letter-spacing: -1px;
  color: #666;
  padding-top: 0.5em;
  font-size: 2em;
  font-weight: 200;
  display: inline-block;
}

.inner {
  width: 620px;
  margin: 0 auto;
}

#container .inner img {
  max-width: 100%;
}

#downloads {
  margin-bottom: 40px;
}

a.button {
  border: 1px solid;
  border-color: #eee #ccc #ccc #eee;
  font-size: 100%;
  outline: none;
  padding: 5px;
}

a.button:active {
  background: #eee;
}

a.button span:first-child {
  padding-left: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#download-freedom span {
  background: transparent url(../img/freedomjs-icon.png) 12px 50% no-repeat;
}
#view-on-github span {
  background: transparent url(../img/octocat-icon.png) 12px 50% no-repeat;
}
#demo .triangle {
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 85%;
  color: #666;
}

code, pre {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
  color: #222;
  margin-bottom: 30px;
  font-size: 14px;
}

code {
  background-color: #f2f2f2;
  border: solid 1px #ddd;
  padding: 0 3px;
}

pre {
  padding: 20px;
  background: #303030;
  color: #f2f2f2;
  text-shadow: none;
  overflow: auto;
}
pre code {
  color: #f2f2f2;
  background-color: #303030;
  border: none;
  padding: 0;
}

ul, ol, dl {
  margin-bottom: 20px;
}


/* COMMON STYLES */

hr {
  height: 1px;
  line-height: 1px;
  margin-top: 1em;
  padding-bottom: 1em;
  border: none;
  background: transparent url('../img/hr.png') 50% 0 no-repeat;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

table {
  width: 100%;
  border: 1px solid #ebebeb;
}

th {
  font-weight: 500;
}

td {
  border: 1px solid #ebebeb;
  text-align: center; 
  font-weight: 300;
}

form {
  background: #f2f2f2;
  padding: 20px;
  
}


/* GENERAL ELEMENT TYPE STYLES */

h1 {
  font-size: 32px;
} 

h2 {
  font-size: 22px;
  font-weight: bold;
  color: #303030;
  margin-bottom: 8px;
} 

h3 {
  color: #d5000d;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
} 
 
h4 {
  font-size: 16px;
  color: #303030;
  font-weight: bold;
} 

h5 {
  font-size: 1em;
  color: #303030;
} 

h6 {
  font-size: .8em;
  color: #303030;
} 

p {
  font-weight: 300;
  margin-bottom: 20px;
}
 
a {
  text-decoration: none;
}

p a {
  font-weight: 400;
}

blockquote {
  font-size: 1.6em;
  border-left: 10px solid #e9e9e9;
  margin-bottom: 20px;
  padding: 0 0 0 30px;
}

ul li {
  list-style: disc inside;
  padding-left: 20px;
}

ol li {
  list-style: decimal inside;
  padding-left: 3px;
}

dl dt {
  color: #303030;
}

footer {
  background: transparent url('../img/hr.png') 0 0 no-repeat;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 13px;
  color: #aaa;
}

footer a {
  color: #666;
}
footer a:hover {
  color: #444;
}

/* MISC */
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #downloads {
    margin-bottom: 25px;
  }
  #download-zip, #download-tar-gz {
    display: none;
  }
  .inner {
    width: 94%;
    margin: 0 auto;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}
